.row .no-padding {
    padding: 0px;
}
.row .text-align--right {
    text-align: right;
}
.underline:before {
    content: '';
    width: 100%;
    display: block;
    padding-top: 10px;
    border-top: 1px solid #d3e0e9;
}